<div class="steps-component">
  <h5>Golden Steps:</h5>
  <ol>
    <li>ng g app-name</li>
    <li>ng g library shared-library -p fa</li>
    <li>ng g application contractor</li>
    <li>ng g application client</li>
    <li>ng g application employee</li>
    <li>ng serve</li>
    <li>ng serve client --port 4201</li>
    <li>ng serve contractor --port 4202</li>
    <li>ng serve employee --port 4203</li>
    <li>ng g c test-component --project=shared-library</li>
    <li>ng build shared-library</li>
    <li>npm install dist/shared-library</li>
    <li>import the library in ngModule</li>
    <li>Use component selector to use component in the desired application</li>
  </ol>
</div>
